entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.2.0

# Dependencies the pytest
pytest==5.4.1
pluggy==0.13.1
attrs==19.3.0
py==1.8.1
wcwidth==0.1.9
packaging==20.3
more-itertools==8.2.0
pyparsing==2.4.7

# Dependencies the coverage
coverage==5.1
pytest-cov==2.8.1


-r requirements.txt